@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.highlight {
  color: #f19200 !important;
  font-size: inherit !important;
}

/* Header Styles */
.top-bar {
  background-color: #f19200;
  padding: 8px 0;
  font-size: 15px;
}

.top-bar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

/* .contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
} */

.contact-info a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}
.contact-info svg {
  flex-shrink: 0;
}

.contact-info span {
  font-size: 15px;
  color: #000;
}

.navbar {
  background-color: #000;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 1px solid rgba(69, 69, 69, 0.8);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 118px;
  height: 65px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f19200;
}

.btn-primary {
  background-color: #f19200;
  color: #000 !important;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 153, 0, 0.4);
}

/* Mobile Menu Toggle */
/* .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #F19200;
    transition: 0.3s;
} */

/* Hero Section */
.hero {
  height: calc(100vh - 131px);
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.hero-text {
  max-width: 685px;
}

.hero-text h1 {
  font-size: 56px;
  margin-bottom: 16px;
  line-height: 72px;
}

.hero-text p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 30px;
  color: #aeaeae;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.hero-buttons .hero-btn {
  font-size: 24px;
  padding: 16px 40px;
  border-radius: 12px;
}

.btn-secondary {
  background-color: transparent;
  color: #f19200;
  font-size: 24px;
  padding: 16px 40px;
  padding: 16px 40px;
  border: 2px solid #f19200;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: #f19200;
  color: #000;
}

.hero-image {
  border-radius: 10px;
  width: 400px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

/* Stats Section */
.stats {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 48px 0;
}

.stats-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.stat-number {
  font-size: 40px;
  color: #f19200;
  font-weight: 700;
  margin-bottom: 24px;
}

.stat-item:last-child .stat-number {
  font-size: 64px;
  line-height: 40px;
}

.stat-label {
  font-size: 18px;
  color: #aeaeae;
}

.stats-content .line {
  height: 80px;
  width: 1px;
  background-color: #ffffff2e;
}

/* Companies Section */
.companies {
  margin-top: 45px;
}
.section-title {
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 72px;
  margin-bottom: 6px;
}

.section-subtitle {
  text-align: center;
  color: #aeaeae;
  margin-bottom: 52px;
  font-size: 20px;
}

.companies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.company-card {
  background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.company-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(255, 153, 0, 0.3);
}

.company-logo {
  height: 170px;
  margin: 0 auto 0;
  border-radius: 10px;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0d5s;
}

.plus-sign p {
  font-size: 48px;
}

.company-card h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 16px 0 12px;
  color: #aeaeae;
}

.company-card p {
  color: #aeaeae;
  line-height: 28px;
  margin-bottom: 32px;
  font-size: 18px;
  height: 90px;
}

.coming-soon {
  background: linear-gradient(135deg, #2a2a2a 0%, #1a1a1a 100%);
}

.company-card .btn-primary,
.company-card .btn-secondary {
  width: 100%;
  display: inline-block;
  font-weight: 18px !important;
  padding: 12px 0 !important;
}

.btn-white {
  background-color: white;
  color: black;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  width: 100%;
}

.btn-secondary:hover {
  background-color: #f19200;
  color: #000;
}

.contact-wrapper {
  margin-top: 90px;
}

.contact-wrapper .contact-content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 24px;
}

.contact-content .form {
  padding: 32px 24px;
  border-radius: 12px;
  background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);
}

.contact-content .form .form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.contact-content .form .form-input:last-child {
  margin-bottom: 32px !important;
}

.contact-content .form .form-input label {
  font-size: 20px;
  font-weight: 600;
}

.contact-content .form .form-input label > span {
  color: #ff0000;
}

.contact-content .form .form-input input,
.form-input textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}

.form-input textarea {
  height: 128px;
}

.contact-content .form .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

.contact-content .form .btn-primary > span {
  display: flex;
}

.contact-content .contact-right {
  background: linear-gradient(135deg, #1a1a1a 0%, #2a2a2a 100%);
  padding: 32px 24px;
  border-radius: 12px;
}

.contact-right h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.contact-right .contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-right .contact-info .info {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 9px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.contact-right .contact-info .info p {
  font-size: 15px;
  line-height: 24px;
  color: #aeaeae;
}

.contact-right .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 16px 0;
}

.contact-right .social a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: 70px;
  display: grid;
  place-content: center;
  width: 100%;
}

.contact-right .bottom {
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-right .bottom h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contact-right .bottom h4 > span {
  color: #f19200;
}

.contact-right .bottom p {
  color: #f2f2f2;
}

.footer {
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.05);
}

.footer .top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  padding: 32px 0;
}

.footer .top .company-desc h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.footer .top .company-desc p {
  color: #aeaeae;
  line-height: 24px;
}

.footer .top .contact-info h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.footer .top .contact-info .info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.footer .top .contact-info .info p {
  font-size: 15px;
  line-height: 24px;
  color: #aeaeae;
}

.footer .top .social .s-top{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.footer .top .social p{
  color: #aeaeae;
  line-height: 24px;

}

.footer hr{
  border: 1px solid black;
}

.footer .bottom{
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .bottom p{
  color: #aeaeae;
}

.footer .bottom div a{
  margin-right: 28px;
  color: #aeaeae;
  text-decoration: none;
}